---
import Layout from "../layouts/layout.astro"

const entry={data: {title:"The Dental Checklist", description: "Your frendly neighboorhood dentistry checklist"}}
---
<Layout frontmatter={entry}>
	<div class="w-full flex justify-center mt-20 mb-10">
		<div class="w-fit mx-8 p-6 rounded-md bg-gray-50 shadow-lg flex flex-col justify-center items-center gap-8 border-[1px] border-gray-300">
			<h1 class="font-mono text-lg md:text-xl">Please choose a protocol you wish to implement</h1>
		</div>
	</div>
</Layout>